[build]
  command = "astro build"
  publish = "dist"

[dev]
  command = "astro dev"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
